doctype 5
html
  head
    title= title
    link(rel="stylesheet", type="text/css", href="assets/normalize.css")
    link(rel="stylesheet", type="text/css", href="assets/foundation.css")
    script(type="text/javascript", src="assets/main.js")

  body
    block content